.books {
  min-width: 100%;
  overflow-x: auto;

  &__container {
    display: flex;

    min-width: 900px;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
  }

  &__item {
    display: flex;
    padding: 10px;
  }

  &__book {
    
    display: flex;
    width: 72px;
    height: 108px;
  }

  &__image {
    display: block;
    width: 72px;
    height: 108px;
  }
}

.books::-webkit-scrollbar {
  display: none;
}